
body{
    background-color: black;
}
header {
    background-color: black;
}

.headlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100
    background-color:black;
}

ul {
    text-align: center;
    margin-bottom: 60px;
}
nav a{
    font-family:"Bebas Neue";
    text-decoration:none;
    color:inherit;
    font-size:26px;

    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:10px 10px;
    background-color:#111111;
    border:1px solid #050505;
    border-radius: 10px;
    text-align:center;
    color:white;
    }
    nav li:hover{
    background-color:white;
    color:black;
    }

h1 {
    font-family: "Bebas Neue";
    color: white;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-family: "Bebas Neue";
    color:white;
    font-size: 30px;
    text-align: center;
}

h3{
    font-family: "Lato";
    color:white;
    font-size: 20px;
    text-align: center;
}


.boton{
    display:inline-block;
    width:30%;
    padding:10px 10px;
    background-color:#111111;
    border:1px solid #050505;
    border-radius: 10px;
    padding: 10px 10px;
    text-align:center;
    color:white;
    margin-right: 150px;
    margin-left:150px;
    margin-bottom: 90px;

}

a p{
    font-family:"Bebas Neue";
    font-size:26px;
    display:inline-block;
    width:10%;
    padding:20px 20px;
    background-color:#111111;
    border:1px solid #050505;
    border-radius: 13px;
    text-align:center;
    color:white;
    }
    a p:hover{
    background-color:white;
    color:black;
    }
}

p{
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: center;
}

.buzo{
    display: block;
    margin-right: auto;
    margin-left: auto;
 
}


/* estilos index */

.banneruno {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100;
    margin-bottom: 10px;
}

.videopromo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}


.precio{
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: center;
}


.bannerdos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    width:1260px;
}

.sproduct{
    display:inline-block;
    background-color: #111111;
    border-color: #050505;
    border-style: solid;
    border-width: 2px;
    border-radius: 13px;
    width:800px;
    margin-left:20px;
    margin-right:20px;
    margin-top: 10px;
    margin-bottom: 90px;
    padding-bottom: 30px;
  }
  
.sproduct:hover{
    transform: scale(1.05);
        }

.imguno{
    margin-right: 20px;
    margin-left: 20px;
    width: 400px;
}

.imgdos{
    margin-right: 20px;
    margin-left: 20px;
    width: 400px;
}

.imgtres{
    margin-right: 20px;
    margin-left: 20px;
    width: 400px;
}

.aw21{
    display: flex;
    justify-content: center;
}

.flexinicio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fleximg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexboton{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}

.flexinsta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

/* estilos productos */

.grande{
    font-family: "Bebas Neue";
    color: white;
    font-size: 40px;
    text-align: center
}

.definicion{
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: center;
}

.hood{
    display:inline-block;
    background-color: #111111;
    border-color: #050505;
    border-style: solid;
    border-width: 2px;
    border-radius: 13px;
    width:453px;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.hood:hover{
    transform: scale(1.05);
        }

.flexhoodies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.flexremeras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* estilos quienessomos */

.socio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socio__milagros{
    margin: 60px;
}
.socio__milagros:hover{
    transform: scale(1.2);
}

.socio__eileen{
    margin: 60px;
}
.socio__eileen:hover{
    transform: scale(1.2);
}

.socio__gonzalo{
    margin: 60px;
}
.socio__gonzalo:hover{
    transform: scale(1.2);
}

.socio__agustina{
    margin: 60px;
}
.socio__agustina:hover{
    transform: scale(1.2);
}

.socio__buzo{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.socio__definicion{
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: center;
}

.postersomos{
    margin-right: 100px;
    margin-left: 300px;
    margin-top:50px;
    width: 800px;
}

.historia{
    text-align:justify;
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-left:220px;
    margin-right: 220px;
    margin-bottom: 20px;
}

.chateaukid{
    text-align: center;
    margin-bottom: 50px;
}


/* estilos comocomprar */

ol{

    border-color: #050505;
    background-color: #111111;
    border-width:1px;
    border-style:solid;
    width: 500px;
    margin-right: 70px;
    margin-left: 30px;
    padding-right: 40px;
    padding-left: 60px;
    padding-top: 30px; 
    padding-bottom:30px;

}

ol li{
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
}



.irproductos{
    text-align: center;
    margin-bottom: 50px;
}


.flexcomo{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* estilos contacto */



.pais{
    font-family: "Bebas Neue";
    color:white;
    font-size: 26px;
    text-align: center;
}

.novedades{
    font-family: "Bebas Neue";
    color:white;
    font-size: 26px;
    text-align: center;
}

.check{
    font-family: "Bebas Neue";
    color:white;
    font-size: 20px;
    text-align: center;
}
fieldset{
    text-align: center;
    width: 500px;
    border-radius: 10px;
    border-style: solid;
    border-color: #1F1F1F;
    margin-bottom: 12px;
    background-color: #1F1F1F;
    margin-top: 12px;
    margin-left: 1px;
    margin-right: 20px;
}

.fotocontacto{
    margin-bottom: 25px;
    margin-right: 1px;
    margin-left: 20px;
    margin-top: 25px;
}

.botones{
    text-align: center;
    margin-bottom: 50px;
}

.flexcontacto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    border-color: #050505;
    border-style: solid;
    border-radius: 13px;
    margin-left: 40px;
    margin-right: 40px;
}


/* estilos footer */

.textofooter{
font-family: "Lato";
color:white;
font-size: 18px;
text-align: left
}


.logochat{
    margin:auto;
    margin-top:60px;
}


.saludo{
    margin-top: 5px;
    margin-bottom:30px;
}


.news{
    margin-top: 30px;
    margin-bottom: 20px;
}

label{
    font-family: "Bebas Neue";
    color:white;
    font-size: 26px;
    text-align: center;
}

.flexfooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    
}


footer{
    background-color: black;
}


@media (max-width: 1024px){

    /* estilos responsive index */

    ul{
        padding-left: 0px;
    }

    h1{
        margin-left: auto;
        margin-right: auto;
    }

    .videopromo{
        display: flex;
        justify-content: center;
        align-items: center;
        width:900px;
        margin-left: auto;
        margin-right: auto;
    }

    video{
        width: 100%;
    }

    .flexinicio{
        flex-wrap: wrap;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    
    }

    .sproduct{
        margin-left:auto;
        margin-right: auto;
    }

    .fleximg{
        width: 900px;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }

    .imguno{
        width: 300px;
        margin-right: 5px;
        margin-left: auto;
    }

    .imgdos{
        width: 300px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .imgtres{
        width: 300px;
        margin-left: 5px;
        margin-right: auto;
    }

    .flexboton {
        margin-right: 150px;
    }

    .flexboton a {
        width:280px;
        align-items: center;
        flex-wrap: nowrap;
    }

    p .boton {
        margin-right: 90px;
    }

    .awcamp{
        margin-left:auto;
        margin-right: auto;
    }

    .bannerdos{
        width: 860px;
        margin-left: auto;
        margin-left: auto;
    }

    .insta{
        margin-left: auto;
        margin-right: auto;
    }

    .flexfooter{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }


    /* estilos responsive quienes somos */


    .flexposter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 80px;
        margin-bottom: 50px;
    }

    .postersomos{
        width: 650px;
    }

    .chateaukid p{
        width: 300px;
    }

   /* estilos responsive como comprar */

   .irproductos p{
       width: 300px;
   }

   .flexcomo{
       flex-wrap: wrap;
       flex-direction: column;
   }

   /* estilos responsive como comprar */

   .flexcontacto{
       flex-wrap: wrap;
       flex-direction: column;
   }


@media (max-width: 991px){

    /* estilos responsive index */

    ul{
        padding-left: 0px;
    }

    h1{
        margin-left: auto;
        margin-right: auto;
    }

    .videopromo{
        display: flex;
        justify-content: center;
        align-items: center;
        width:700px;
        margin-left: auto;
        margin-right: auto;
    }

    video{
        width: 100%;
    }

    .flexinicio{
        flex-wrap: wrap;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    
    }

    .sproduct{
        margin-left:auto;
        margin-right: auto;
    }

    .fleximg{
        width: 900px;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }

    .imguno{
        width: 300px;
        margin-right: 5px;
        margin-left: auto;
    }

    .imgdos{
        width: 300px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .imgtres{
        width: 300px;
        margin-left: 5px;
        margin-right: auto;
    }

    .flexboton {
        margin-right: 5px;
    }

    .flexboton a {
        width:280px;
        align-items: center;
        flex-wrap: nowrap;
    }

    p .boton {
        margin-right: 90px;
    }

    .awcamp{
        margin-left:auto;
        margin-right: auto;
    }

    .bannerdos{
        width: 860px;
        margin-left: auto;
        margin-left: auto;
    }

    .insta{
        margin-left: auto;
        margin-right: auto;
    }

    .flexfooter{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }


    /* estilos responsive quienes somos */


    .flexposter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 80px;
        margin-bottom: 50px;
    }

    .postersomos{
        width: 650px;
    }

    .chateaukid p{
        width: 300px;
    }

   /* estilos responsive como comprar */

   .irproductos p{
       width: 300px;
   }

   .flexcomo{
       flex-wrap: wrap;
       flex-direction: column;
   }

   /* estilos responsive como comprar */

   .flexcontacto{
       flex-wrap: wrap;
       flex-direction: column;
   }


@media (max-width: 768px){

    .textofooter{
        font-size: 23px;
    }

    .logochat{
        width: 400px;
    }

     /* estilos responsive menu */

    ul {
    text-align: center;
    margin-bottom: 30px;
       }
    
    nav a{
    font-size:23px;

    } 
    nav li{
    display:inline-block;
    width:13%;
    padding:15px 15px;
    text-align:center;
    color:white;
    margin-top: 3px;
    margin-bottom: 3px;
    }

    /* estilos responsive index */

    ul{
        padding-left: 0px;
    }

    h1{
        margin-left: auto;
        margin-right: auto;
    }

    h2{
        font-size: 40px;
    }

    .videopromo{
        display: flex;
        justify-content: center;
        align-items: center;
        width:700px;
        margin-left: auto;
        margin-right: auto;
    }

    video{
        width: 100%;
    }

    .flexinicio{
        flex-wrap: wrap;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    
    }

    .sproduct{
        margin-left:auto;
        margin-right: auto;
    }

    .fleximg{
        width: 650px;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }

    .imguno{
        width: 230px;
        margin-right: 5px;
        margin-left: auto;
    }

    .imgdos{
        width: 230px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .imgtres{
        width: 230px;
        margin-left: 5px;
        margin-right: auto;
    }

    .flexboton {
        margin-right: 90px;
    }

    .flexboton a {
        width:280px;
        align-items: center;
        flex-wrap: nowrap;
    }

    p .boton {
        margin-right: 300px;
    }

    .awcamp{
        margin-left:auto;
        margin-right: auto;
    }

    .bannerdos{
        width: 700px;
        margin-left: auto;
        margin-left: auto;
    }

    .insta{
        margin-left: auto;
        margin-right: auto;
    }

    .flexfooter{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }


    /* estilos responsive quienes somos */

    h3{
        font-size: 38px;
    }

    .flexposter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 80px;
        margin-bottom: 50px;
    }

    .postersomos{
        width: 650px;
    }

    .chateaukid p{
        width: 300px;
    }

   /* estilos responsive como comprar */

   .irproductos p{
       width: 300px;
   }

   .flexcomo{
       flex-wrap: wrap;
       flex-direction: column;
   }

   ol li{
    font-size: 27px;
    line-height: 35px;
   }

   /* estilos responsive como comprar */

   .flexcontacto{
       flex-wrap: wrap;
       flex-direction: column;
   }


   @media (max-width: 600px){

    .textofooter{
        font-size: 20px;
        text-align: center;
    }

    .logochat{
        width: 300px;
    }


    /* estilos responsive menu */

    ul {
    text-align: center;
    margin-bottom: 30px;
       }
    
    nav a{
    font-size:23px;

    } 
    nav li{
    display:inline-block;
    width:13%;
    padding:15px 15px;
    text-align:center;
    color:white;
    margin-top: 3px;
    margin-bottom: 3px;
    }

    /* estilos responsive index */

    ul{
        padding-left: 0px;
    }

    h1{
        margin-left: auto;
        margin-right: auto;
    }

    h2{
        font-size: 40px;
    }

    .videopromo{
        display: flex;
        justify-content: center;
        align-items: center;
        width:540px;
        margin-left: auto;
        margin-right: auto;
    }

    video{
        width: 100%;
    }

    .flexinicio{
        flex-wrap: wrap;
        width: 550px;
        margin-right: auto;
        margin-left: auto;
    
    }

    .sproduct{
        margin-left:auto;
        margin-right: auto;
    }

    .sproduct p{
        font-size: 28px;
    }

    .fleximg{
        flex-wrap: wrap;
        width: 590px;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }

    .imguno{
        width: 175px;
        margin-right: 5px;
        margin-left: auto;
    }

    .imgdos{
        width: 175px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .imgtres{
        width: 175px;
        margin-left: 5px;
        margin-right: auto;
    }

    .flexboton {
        margin-right: 190px;
    }

    .flexboton a {
        width:200px;
        align-items: center;
        flex-wrap: nowrap;
    }

    .awcamp{
        margin-left:auto;
        margin-right: auto;
    }

    .bannerdos{
        width: 550px;
        margin-left: auto;
        margin-left: auto;
    }

    .insta{
        margin-left: auto;
        margin-right: auto;
    }

    .flexfooter{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }

    /* estilos responsive quienes somos */


    h3{
        font-size: 28px;
    }

    .flexposter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 200px;
        margin-bottom: 50px;
    }

    .postersomos{
        width: 400px;
    }

    .chateaukid p{
        width: 300px;
    }

    .historia{
        margin-right: 10px;
        margin-left: 10px;
    }

   /* estilos responsive como comprar */


   .irproductos p{
       width: 300px;
   }

   .flexcomo{
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }


   ol{
    width: 400px;
    margin: 0 0 0 0;
   }

   ol li{
    font-size: 20px;
    line-height: 35px;
   }


   /* estilos responsive contacto */

   .flexcontacto{
       flex-wrap: wrap;
       flex-direction: column;
   }

@media (max-width: 480px){

    .textofooter{
        font-size: 20px;
        text-align: center;
    }

    .logochat{
        width: 400px;
    }

    header img{
        height: 110px;
        text-align: center;
    }

    /* estilos responsive menu */

    ul {
    text-align: center;
    margin-bottom: 20px;
       }
    
    nav a{
    font-size:28px;

    } 
    nav li{
    display:flex;
    flex-wrap: wrap;
    width:60%;
    padding:15px 15px;
    text-align:center;
    color:white;
    margin-top: 3px;
    margin-bottom: 3px;
    }

    /* estilos responsive index */

    ul{
        padding-left: 0px;
    }

    h1{
        margin-left: auto;
        margin-right: auto;
    }

    h2{
        font-size: 36px;
    }


    .videopromo{
        display: flex;
        justify-content: center;
        align-items: center;
        width:400px;
        margin-left: auto;
        margin-right: auto;
    }

    video{
        width: 100%;
    }

    .flexinicio{
        flex-wrap: wrap;
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    
    }

    .sproduct{
        margin-left:auto;
        margin-right: auto;
    }

    .sproduct p{
        font-size: 20px;
    }

    .fleximg{
        flex-wrap: wrap;
        width: 440px;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }

    .imguno{
        width: 140px;
        margin-right: 5px;
        margin-left: auto;
    }

    .imgdos{
        width: 140px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .imgtres{
        width: 140px;
        margin-left: 5px;
        margin-right: auto;
    }

    .flexboton {
        margin-right: 300px;
    }

    .flexboton a {
        width:100px;
        margin:20px 20px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .awcamp{
        margin-left:auto;
        margin-right: auto;
    }

    .bannerdos{
        width: 440px;
        margin-left: auto;
        margin-left: auto;
    }

    .insta{
        margin-left: auto;
        margin-right: auto;
    }

    .flexfooter{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }

    /* estilos responsive quienes somos */


    h3{
        font-size: 22px;
    }

    .flexposter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 200px;
        margin-bottom: 50px;
    }

    .postersomos{
        width: 400px;
    }

    .chateaukid p{
        width: 300px;
    }

    .historia{
        margin-right: 10px;
        margin-left: 10px;
    }

   /* estilos responsive como comprar */


   .irproductos p{
       width: 300px;
   }

   .flexcomo{
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

   .imgcomo img{
       height: 500px;
   }


   ol{
    width: 400px;
    margin: 0 0 0 0;
   }

   ol li{
    font-size: 20px;
    line-height: 35px;
   }


   /* estilos responsive contacto */

   .flexcontacto{
       flex-wrap: wrap;
       flex-direction: column;
   }

   form{
    column-width: 330px;
   }

   form fieldset{
    width: 330px;
   }

   .fotocontacto{
    width: 330px;
    margin-right: 35px;
   }

@media (max-width: 320px){

    .textofooter{
        font-size: 14px;
        text-align: center;
    }

    .logochat{
        width: 280px;
    }

    header img{
        height: 70px;
        text-align: center;
    }

    .news{
        text-align: center;
    }
    /* estilos responsive menu */

    ul {
    text-align: center;
    margin-bottom: 30px;
       }
    
    nav a{
    font-size:28px;

    } 
    nav li{
    display:flex;
    flex-wrap: wrap;
    width:60%;
    padding:15px 15px;
    text-align:center;
    color:white;
    margin-top: 3px;
    margin-bottom: 3px;
    }

    /* estilos responsive index */

    ul{
        padding-left: 0px;
    }

    h1{
        margin-left: auto;
        margin-right: auto;
        font-size: 45px;
    }

    h2{
        font-size: 27px;
    }


    .videopromo{
        display: flex;
        justify-content: center;
        align-items: center;
        width:300px;
        margin-left: auto;
        margin-right: auto;
    }

    video{
        width: 100%;
    }

    .flexinicio{
        flex-wrap: wrap;
        width: 90px;
        margin-right: 1px;
        margin-left: 1px;
    
    }

    .sproduct{
        margin-left:1px;
        margin-right:1px;
    }

    .sproduct p{
        font-size: 20px;
    }

    .sproduct img{
        height: 300px;
    }

    .fleximg{
        flex-wrap: wrap;
        width: 440px;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }

    .imguno{
        display: none;
        width: 140px;
        margin-right: 5px;
        margin-left: auto;
    }

    .imgdos{
        display: none;
        width: 140px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .imgtres{
        display: none;
        width: 140px;
        margin-left: 5px;
        margin-right: auto;
    }

    .flexboton {
        display: none;
        margin-right: 300px;
    }

    .flexboton a {
        display: none;
        width:100px;
        margin:20px 20px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .awcamp{
        margin-left:auto;
        margin-right: auto;
    }

    .bannerdos{
        width: 310px;
        margin-left: auto;
        margin-left: auto;
    }

    .insta{
        margin-left: auto;
        margin-right: auto;
    }

    .flexfooter{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }

    /* estilos responsive quienes somos */


    h3{
        font-size: 18px;
    }

    .flexposter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 200px;
        margin-bottom: 50px;
    }

    .postersomos{
        width: 270px;
    }

    .chateaukid p{
        width: 200px;
    }

    .historia{
        margin-right: 10px;
        margin-left: 10px;
    }

   /* estilos responsive como comprar */


   .irproductos p{
       width: 200px;
   }

   .flexcomo{
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

   .imgcomo img{
       height: 300px;
   }


   ol{
    width: 230px;
    margin: 0 0 0 0;
   }

   ol li{
    font-size: 15px;
    line-height: 20px;
   }


   /* estilos responsive contacto */

   .flexcontacto{
       flex-wrap: wrap;
       flex-direction: column;
       margin-left: 15px;
   }

   form{
    column-width: 220px;
   }

   form fieldset{
    width: 220px;
   }

   .fotocontacto{
    width: 230px;
    margin-right: 15px;
   }
