
body{
    background-color: black;
}
header {
    background-color: black;
}

.headlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100
    background-color:black;
}

ul {
    text-align: center;
    margin-bottom: 60px;
}
nav a{
    font-family:"Bebas Neue";
    text-decoration:none;
    color:inherit;
    font-size:26px;

    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:10px 10px;
    background-color:#111111;
    border:1px solid #050505;
    border-radius: 10px;
    text-align:center;
    color:white;
    }
    nav li:hover{
    background-color:white;
    color:black;
    }

h1 {
    font-family: "Bebas Neue";
    color: white;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-family: "Bebas Neue";
    color:white;
    font-size: 30px;
    text-align: center;
}

h3{
    font-family: "Lato";
    color:white;
    font-size: 20px;
    text-align: center;
}


.boton{
    display:inline-block;
    width:30%;
    padding:10px 10px;
    background-color:#111111;
    border:1px solid #050505;
    border-radius: 10px;
    padding: 10px 10px;
    text-align:center;
    color:white;
    margin-right: 150px;
    margin-left:150px;
    margin-bottom: 90px;

}

a p{
    font-family:"Bebas Neue";
    font-size:26px;
    display:inline-block;
    width:10%;
    padding:20px 20px;
    background-color:#111111;
    border:1px solid #050505;
    border-radius: 13px;
    text-align:center;
    color:white;
    }
    a p:hover{
    background-color:white;
    color:black;
    }
}

p{
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: center;
}

.buzo{
    display: block;
    margin-right: auto;
    margin-left: auto;
 
}


/* estilos index */

.banneruno {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100;
    margin-bottom: 10px;
}

.videopromo {
    display: block;
    margin-right: auto;
    margin-left: 50px;
    margin-bottom: 50px;
}


.precio{
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: center;
}


.bannerdos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    width:100;
}

.sproduct{
    display:inline-block;
    background-color: #111111;
    border-color: #050505;
    border-style: solid;
    border-width: 2px;
    border-radius: 13px;
    width:800px;
    margin-left:20px;
    margin-right:20px;
    margin-top: 10px;
    margin-bottom: 90px;
    padding-bottom: 30px;
  }
  
.sproduct:hover{
    transform: scale(1.05);
        }

.imguno{
    margin-right: 20px;
     margin-left: 20px;
}

.imgdos{
    margin-right: 20px;
    margin-left: 20px;
}

.imgtres{
    margin-right: 20px;
    margin-left: 20px;
}

.aw21{
    display: flex;
    justify-content: center;
}

.flexinicio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fleximg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexboton{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;

}

/* estilos productos */

.grande{
    font-family: "Bebas Neue";
    color: white;
    font-size: 40px;
    text-align: center
}

.definicion{
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: center;
}

.hood{
    display:inline-block;
    background-color: #111111;
    border-color: #050505;
    border-style: solid;
    border-width: 2px;
    border-radius: 13px;
    width:453px;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.hood:hover{
    transform: scale(1.05);
        }

.flexhoodies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.flexremeras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* estilos quienessomos */

.socio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socio__milagros{
    margin: 60px;
}
.socio__milagros:hover{
    transform: scale(1.2);
}

.socio__eileen{
    margin: 60px;
}
.socio__eileen:hover{
    transform: scale(1.2);
}

.socio__gonzalo{
    margin: 60px;
}
.socio__gonzalo:hover{
    transform: scale(1.2);
}

.socio__agustina{
    margin: 60px;
}
.socio__agustina:hover{
    transform: scale(1.2);
}

.socio__buzo{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.socio__definicion{
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: center;
}

.postersomos{
    margin-right: 100px;
    margin-left: 300px;
    margin-top:50px;
}

.historia{
    text-align:justify;
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-left:220px;
    margin-right: 220px;
    margin-bottom: 20px;
}

.chateaukid{
    text-align: center;
    margin-bottom: 50px;
}


/* estilos comocomprar */

ol{

    border-color: #050505;
    background-color: #111111;
    border-width:1px;
    border-style:solid;
    width: 500px;
    margin-right: 70px;
    margin-left: 30px;
    padding-right: 40px;
    padding-left: 60px;
    padding-top: 30px; 
    padding-bottom:30px;

}

ol li{
    font-family: "Lato";
    color:white;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
}



.irproductos{
    text-align: center;
    margin-bottom: 50px;
}

table{
    color: white;
    border-color: white;
    font-family: "Bebas Neue";
    font-size: 26px;
}

.flexcomo{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* estilos contacto */



.pais{
    font-family: "Bebas Neue";
    color:white;
    font-size: 26px;
    text-align: center;
}

.novedades{
    font-family: "Bebas Neue";
    color:white;
    font-size: 26px;
    text-align: center;
}

.check{
    font-family: "Bebas Neue";
    color:white;
    font-size: 20px;
    text-align: center;
}
fieldset{
    text-align: center;
    width: 500px;
    border-radius: 10px;
    border-style: solid;
    border-color: #1F1F1F;
    margin-bottom: 12px;
    background-color: #1F1F1F;
    margin-top: 12px;
    margin-left: 1px;
    margin-right: 20px;
}

.fotocontacto{
    margin-bottom: 25px;
    margin-right: 1px;
    margin-left: 20px;
    margin-top: 25px;
}

.botones{
    text-align: center;
    margin-bottom: 50px;
}

.flexcontacto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    border-color: #050505;
    border-style: solid;
    border-radius: 13px;
    margin-left: 40px;
    margin-right: 40px;
}


/* estilos footer */

.textofooter{
font-family: "Lato";
color:white;
font-size: 18px;
text-align: left
}


.logochat{
    margin:auto;
    margin-top:60px;
}


.saludo{
    margin-top: 5px;
    margin-bottom:30px;
}


.news{
    margin-top: 30px;
    margin-bottom: 20px;
}

label{
    font-family: "Bebas Neue";
    color:white;
    font-size: 26px;
    text-align: center;
}

.flexfooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    
}

.insta{
    margin-left: 670px;
    margin-top: 60px;
}

footer{
    background-color: black;
}


@media (max-width: 991px;){
    
    .videopromo{
        width:200px !important;
    }

    .socio{
        flex-wrap: wrap;
    }

}